# CODEOWNERS
# Define code ownership and review responsibilities

# self-protection
CODEOWNERS @efellowsbg/CAFini

# CI/CD & configuration
.github/ @efellowsbg/CAFini
.vscode/ @efellowsbg/CAFini
.pre-commit-config.yaml @efellowsbg/CAFini

# general source code (default)
src/ @efellowsbg/CAFini
